.layout__container {
  max-width: 1024px;
  padding-inline: 16px;
  margin-inline: auto;
  padding-bottom: 64px;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  .layout__container {
    padding-bottom: 32px;
  }
}
